<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<title>Change your password</title>
</head>
<body>

<table width="700">
	<tr width="700" height="100%">
        <td width="700" height="100%">
			<h2>Change Your Password</h2>
			<p>Forgot your password? Click the link below to change your account password.
				If this was not you, just disregard this message and nothing will happen.</p>
			<br>
			<br>
			<a href="http://{{ROOT}}/change-password/{{token}}">Change Your Password</a>
	    </td>
    </tr>
</table>

</body>
</html>
